// Color Variables
$primary-color: #3A66FE;
$secondary-color: #1c1929;
$text-color: #5c5c77;
$text-color-light: #749afe;
$text-color-dark: #ff8534;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #ffd99e;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';